body{
    margin:0;
    font-family:Arial;
    background:#f2f2f2;
}

.container{
    text-align:center;
    margin-top:100px;
}

button{
    padding:12px 20px;
    margin:10px;
    cursor:pointer;
}

h1{
    color:#333;
}

nav{
    background:#222;
    color:white;
    padding:15px;
}
